.simpleCart_items table {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.85);
  /*background-color: rgba(130,155,0,.80);*/
  /*background-color: rgba(100, 138, 86, 0.90);*/
  /*border-radius: 10px;*/
}

.beatlescart {
  color: white;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.7);
  width: 75%;
  text-align: center;
  border: 1px solid rgb(0, 168, 162);
  border-radius: 20px;
  padding: 20px;
}

.simpleCart_items td, .simpleCart_items th {
  padding: 0 5px;
  text-align: center;
  border: 1px solid green;
}

.simpleCart_items td
{
  color: black;
}

.simpleCart_items th
{
  color: rgb(100, 138, 86);
  font-weight: bolder;
  font-size: 120%;
}

.simpleCart_items a
{
  color: rgb(100, 138, 86);
}

.simpleCart_items .item-quantity
{
    padding: 0;
    border-left: none;
    border-right: none;
}

.simpleCart_items .item-decrement
{
  padding-right: 0;
  border-right: none;
  font-weight: bold;
}

.simpleCart_items .item-increment
{
  padding-left: 0;
  border-left: none;
  font-weight: bold;
}

a.simpleCart_checkout.greenlink {
	color: white;
	font-size: 150%;
  margin-right: 0;
}

a.simpleCart_checkout.greenlink:hover
{
  color: black;
}

#shippingLocation
{
  background: white;
  color: black;
}
